### Decomposição do crescimento da produtividade (ETD-GGDC)
Esse código decompõe o crescimento da produtividade entre os componentes "within" e "structural change" de acordo com a metodologia proposta por McMillan e Rodrik (2011).

Dados são da base "Economic Transformation Database" do Groningen Growth and Development Centre (GGDC) para 51 países entre 1990 e 2018.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
## IMPORTANDO E ORGANIZANDO
df_ETD = pd.read_csv('ETD_230918.csv')

df_ETD.rename(columns = {'Agriculture': 'agriculture',
                         'Mining': 'mining',
                         'Manufacturing': 'manufacturing',
                         'Utilities': 'utilities',
                         'Construction': 'construction',
                         'Trade': 'trade',
                         'Transport': 'transport',
                         'Business': 'business',
                         'Finance': 'finance',
                         'Realestate': 'realestate',
                         'Government': 'government',
                         'Other': 'other',
                         'Total': 'total',
                         'Warflag': 'warflag'}, inplace=True)

df_ETD = df_ETD.drop(['country', 'warflag'], axis=1)
df_ETD = df_ETD.where(df_ETD['var'] != 'VA')
df_ETD = df_ETD.dropna(subset=['var'])
df_ETD = df_ETD.reset_index()
df_ETD = df_ETD.drop(['index'], axis=1)

df_ETD.head()

In [ ]:
## CRIANDO OS DATAFRAMES PARA EMPREGO E VALOR ADICIONADO
df_ETD_EMP = df_ETD.where(df_ETD['var'] == 'EMP')
df_ETD_EMP = df_ETD_EMP.dropna(subset=['var'])
df_ETD_EMP = df_ETD_EMP.reset_index()
df_ETD_EMP = df_ETD_EMP.drop(['index', 'var'], axis=1)

df_ETD_VA = df_ETD.where(df_ETD['var'] == 'VA_Q15')
df_ETD_VA = df_ETD_VA.dropna(subset=['var'])
df_ETD_VA = df_ETD_VA.reset_index()
df_ETD_VA = df_ETD_VA.drop(['index', 'var'], axis=1)

df_ETD_EMP.head()

In [ ]:
## CALCULANDO AS PRODUTIVIDADES SETORIAIS
df_ETD_PROD = pd.DataFrame()

df_ETD_PROD['cnt'] = df_ETD_VA['cnt']
df_ETD_PROD['year'] = df_ETD_VA['year']

df_ETD_PROD['agriculture'] = df_ETD_VA['agriculture']/df_ETD_EMP['agriculture']
df_ETD_PROD['mining'] = df_ETD_VA['mining']/df_ETD_EMP['mining']
df_ETD_PROD['manufacturing'] = df_ETD_VA['manufacturing']/df_ETD_EMP['manufacturing']
df_ETD_PROD['utilities'] = df_ETD_VA['utilities']/df_ETD_EMP['utilities']
df_ETD_PROD['construction'] = df_ETD_VA['construction']/df_ETD_EMP['construction']
df_ETD_PROD['trade'] = df_ETD_VA['trade']/df_ETD_EMP['trade']
df_ETD_PROD['transport'] = df_ETD_VA['transport']/df_ETD_EMP['transport']
df_ETD_PROD['business'] = df_ETD_VA['business']/df_ETD_EMP['business']
df_ETD_PROD['finance'] = df_ETD_VA['finance']/df_ETD_EMP['finance']
df_ETD_PROD['realestate'] = df_ETD_VA['realestate']/df_ETD_EMP['realestate']
df_ETD_PROD['government'] = df_ETD_VA['government']/df_ETD_EMP['government']
df_ETD_PROD['other'] = df_ETD_VA['other']/df_ETD_EMP['other']
df_ETD_PROD['total'] = df_ETD_VA['total']/df_ETD_EMP['total']

df_ETD_PROD.head()

In [ ]:
## CALCULANDO AS VARIAÇÕES PERCENTUAIS
df_ETD_PROD_V = pd.DataFrame()

df_ETD_PROD_V = df_ETD_PROD[['agriculture', 'mining', 'manufacturing', 'utilities', 'construction',
                             'trade', 'transport', 'business', 'finance', 'realestate', 'government', 'other', 'total']].diff()

df_ETD_PROD_V['cnt'] = df_ETD_PROD['cnt']
df_ETD_PROD_V['year'] = df_ETD_PROD['year']

df_ETD_PROD_V = df_ETD_PROD_V[['cnt', 'year', 'agriculture', 'mining', 'manufacturing', 'utilities', 'construction',
                               'trade', 'transport', 'business', 'finance', 'realestate', 'government', 'other', 'total']]

df_ETD_PROD_V.loc[df_ETD_PROD_V['year'] == 1990, :] = np.nan

df_ETD_PROD_V

In [ ]:
## CALCULANDO AS PRTICIPAÇÕES RELATIVAS DO EMPREGO
df_ETD_EMP_P = pd.DataFrame()

df_ETD_EMP_P['cnt'] = df_ETD_EMP['cnt']
df_ETD_EMP_P['year'] = df_ETD_EMP['year']

df_ETD_EMP_P['agriculture_r'] = df_ETD_EMP['agriculture']/df_ETD_EMP['total']
df_ETD_EMP_P['mining_r'] = df_ETD_EMP['mining']/df_ETD_EMP['total']
df_ETD_EMP_P['manufacturing_r'] = df_ETD_EMP['manufacturing']/df_ETD_EMP['total']
df_ETD_EMP_P['utilities_r'] = df_ETD_EMP['utilities']/df_ETD_EMP['total']
df_ETD_EMP_P['construction_r'] = df_ETD_EMP['construction']/df_ETD_EMP['total']
df_ETD_EMP_P['trade_r'] = df_ETD_EMP['trade']/df_ETD_EMP['total']
df_ETD_EMP_P['transport_r'] = df_ETD_EMP['transport']/df_ETD_EMP['total']
df_ETD_EMP_P['business_r'] = df_ETD_EMP['business']/df_ETD_EMP['total']
df_ETD_EMP_P['finance_r'] = df_ETD_EMP['finance']/df_ETD_EMP['total']
df_ETD_EMP_P['realestate_r'] = df_ETD_EMP['realestate']/df_ETD_EMP['total']
df_ETD_EMP_P['government_r'] = df_ETD_EMP['government']/df_ETD_EMP['total']
df_ETD_EMP_P['other_r'] = df_ETD_EMP['other']/df_ETD_EMP['total']
df_ETD_EMP_P['sum_check'] = df_ETD_EMP_P.iloc[:,2:14].sum(axis=1)

df_ETD_EMP_P.head()

In [ ]:
## CALCULANDO AS VARIAÇÕES DO EMPREGO
df_ETD_EMP_V = pd.DataFrame()

df_ETD_EMP_V = df_ETD_EMP_P[['agriculture_r', 'mining_r', 'manufacturing_r', 'utilities_r', 'construction_r',
                             'trade_r', 'transport_r', 'business_r', 'finance_r', 'realestate_r', 'government_r', 'other_r']].diff()

df_ETD_EMP_V['cnt'] = df_ETD_EMP_P['cnt']
df_ETD_EMP_V['year'] = df_ETD_EMP_P['year']

df_ETD_EMP_V = df_ETD_EMP_V[['cnt', 'year', 'agriculture_r', 'mining_r', 'manufacturing_r', 'utilities_r', 'construction_r',
                               'trade_r', 'transport_r', 'business_r', 'finance_r', 'realestate_r', 'government_r', 'other_r']]

df_ETD_EMP_V.loc[df_ETD_EMP_V['year'] == 1990, :] = np.nan

df_ETD_EMP_V

In [ ]:
## DECOMPONDO O CRESCIMENTO DA PRODUTIVIDADE
df_ETD_PROD_D = pd.DataFrame()

df_ETD_PROD_D['cnt'] = df_ETD_EMP['cnt']
df_ETD_PROD_D['year'] = df_ETD_EMP['year']

# CALCULANDO COMPONENTE WITHIN
df_ETD_PROD_D['agr_w'] = df_ETD_EMP_P['agriculture_r']*df_ETD_PROD_V['agriculture'].shift(-1)
df_ETD_PROD_D['min_w'] = df_ETD_EMP_P['mining_r']*df_ETD_PROD_V['mining'].shift(-1)
df_ETD_PROD_D['man_w'] = df_ETD_EMP_P['manufacturing_r']*df_ETD_PROD_V['manufacturing'].shift(-1)
df_ETD_PROD_D['uti_w'] = df_ETD_EMP_P['utilities_r']*df_ETD_PROD_V['utilities'].shift(-1)
df_ETD_PROD_D['con_w'] = df_ETD_EMP_P['construction_r']*df_ETD_PROD_V['construction'].shift(-1)
df_ETD_PROD_D['tra_w'] = df_ETD_EMP_P['trade_r']*df_ETD_PROD_V['trade'].shift(-1)
df_ETD_PROD_D['trn_w'] = df_ETD_EMP_P['transport_r']*df_ETD_PROD_V['transport'].shift(-1)
df_ETD_PROD_D['bus_w'] = df_ETD_EMP_P['business_r']*df_ETD_PROD_V['business'].shift(-1)
df_ETD_PROD_D['fin_w'] = df_ETD_EMP_P['finance_r']*df_ETD_PROD_V['finance'].shift(-1)
df_ETD_PROD_D['rea_w'] = df_ETD_EMP_P['realestate_r']*df_ETD_PROD_V['realestate'].shift(-1)
df_ETD_PROD_D['gov_w'] = df_ETD_EMP_P['government_r']*df_ETD_PROD_V['government'].shift(-1)
df_ETD_PROD_D['oth_w'] = df_ETD_EMP_P['other_r']*df_ETD_PROD_V['other'].shift(-1)

df_ETD_PROD_D.iloc[:,2:14] = df_ETD_PROD_D.iloc[:,2:14].shift(1)

# CALCULANDO COMPONENTE STRUCTURAL CHANGE
df_ETD_PROD_D['agr_s'] = df_ETD_PROD['agriculture']*df_ETD_EMP_V['agriculture_r']
df_ETD_PROD_D['min_s'] = df_ETD_PROD['mining']*df_ETD_EMP_V['mining_r']
df_ETD_PROD_D['man_s'] = df_ETD_PROD['manufacturing']*df_ETD_EMP_V['manufacturing_r']
df_ETD_PROD_D['uti_s'] = df_ETD_PROD['utilities']*df_ETD_EMP_V['utilities_r']
df_ETD_PROD_D['con_s'] = df_ETD_PROD['construction']*df_ETD_EMP_V['construction_r']
df_ETD_PROD_D['tra_s'] = df_ETD_PROD['trade']*df_ETD_EMP_V['trade_r']
df_ETD_PROD_D['trn_s'] = df_ETD_PROD['transport']*df_ETD_EMP_V['transport_r']
df_ETD_PROD_D['bus_s'] = df_ETD_PROD['business']*df_ETD_EMP_V['business_r']
df_ETD_PROD_D['fin_s'] = df_ETD_PROD['finance']*df_ETD_EMP_V['finance_r']
df_ETD_PROD_D['rea_s'] = df_ETD_PROD['realestate']*df_ETD_EMP_V['realestate_r']
df_ETD_PROD_D['gov_s'] = df_ETD_PROD['government']*df_ETD_EMP_V['government_r']
df_ETD_PROD_D['oth_s'] = df_ETD_PROD['other']*df_ETD_EMP_V['other_r']

## AGREGANDO OS DOIS COMPONENTES

df_ETD_PROD_D['sum_w'] = df_ETD_PROD_D.iloc[:,2:14].sum(axis=1)
df_ETD_PROD_D['sum_s'] = df_ETD_PROD_D.iloc[:,14:26].sum(axis=1)
df_ETD_PROD_D['sum'] = df_ETD_PROD_D['sum_w']+df_ETD_PROD_D['sum_s']

df_ETD_PROD_D.head()

In [90]:
## EXTRAINDO OS ACUMULADOS DO PERÍODO 1991-2018
df_ETD_PROD_D_A = df_ETD_PROD_D.groupby('cnt')[['sum_w', 'sum_s', 'sum']].sum()

df_ETD_PROD_D_A.rename(columns={'sum_w': 'within',
                                'sum_s': 'structural',
                                'sum': 'total'}, inplace=True)

df_ETD_PROD_D_A = df_ETD_PROD_D_A.drop('LAO')

df_ETD_PROD_D_A

           within    structural         total
cnt
ARG    141.090517    -45.817040     95.273476
BFA   -162.040259    799.757086    637.716827
BGD    122.183644     60.697042    182.880686
BOL     15.294192      0.422764     15.716956
BRA     -1.620123      5.255564      3.635441
BWA     38.385797      6.291069     44.676866
CHL   9994.178285  -1170.799990   8823.378295
CHN     76.392648     18.234315     94.626964
CMR   -921.829974   1049.230277    127.400303
COL   7870.802221  -1271.816458   6598.985763
CRI   4030.170102    420.184830   4450.354931
ECU     -0.733697      0.124684     -0.609013
EGY     40.219974      0.996819     41.216792
ETH     10.992309      7.343657     18.335966
GHA      8.486961      0.613321      9.100282
HKG    154.622041    148.201427    302.823468
IDN  34566.528920  15182.776648  49749.305569
IND    174.206729     38.091836    212.298565
ISR     51.916565     -8.035889     43.880676
JPN   1096.717921    272.572919   1369.290840
KEN   -118.554673     61.894313    -56.660360
KHM   1709.755072   4216.865040   5926.620112
KOR  29894.534035   7746.101335  37640.635370
LKA    824.692670     36.126299    860.818968
LSO     19.174788     19.256371     38.431160
MAR     31.600063     12.594738     44.194801
MEX    -41.038258     62.470307     21.432049
MMR   3023.518863    316.668466   3340.187329
MOZ     30.550883      5.447484     35.998367
MUS    303.860152     98.732113    402.592265
MWI    -60.969094    300.678773    239.709680
MYS     45.888676     -1.274583     44.614093
NAM     76.757800    -11.030047     65.727753
NGA    -32.573226    480.573022    447.999796
NPL     29.755819     67.907989     97.663808
PAK     66.406632     85.054740    151.461372
PER     15.679751     -0.903438     14.776313
PHL    138.283801     53.705808    191.989610
RWA    333.222870    452.736120    785.958990
SEN  -1005.147881   1416.839204    411.691323
SGP     64.801039     -2.152671     62.648369
THA    145.976887     83.024556    229.001443
TUN     10.025094      0.544688     10.569782
TUR     18.648213     17.229064     35.877278
TWN    853.651511    125.863794    979.515304
TZA   1754.675022   1111.347771   2866.022793
UGA   2210.956408    845.796212   3056.752620
VNM  24477.069717  31907.009252  56384.078969
ZAF     57.498800    -20.515313     36.983487
ZMB      6.497730     10.455632     16.953362

In [78]:
## IMPORTANDO DATAFRAMES PARA ARQUIVOS .xlsx
df_ETD.to_excel('df_ETD.xlsx', index=False)
df_ETD_PROD.to_excel('df_ETD_PROD.xlsx', index=False)
df_ETD_EMP_P.to_excel('df_ETD_EMP_P.xlsx', index=False)
df_ETD_PROD_V.to_excel('df_ETD_PROD_V.xlsx', index=False)
df_ETD_EMP_V.to_excel('df_ETD_EMP_V.xlsx', index=False)
df_ETD_PROD_D.to_excel('df_ETD_PROD_D.xlsx', index=False)
df_ETD_PROD_D_A.to_excel('df_ETD_PROD_D_A.xlsx', index=True)

<small>Referência: MCMILLAN, M. RODRIK, D. Globalization, structural change and productivity growth. **NBER Working Paper Series 17143**. Cambridge, MA: National Bureau of Economic Research, 2011. <small>